body {
  padding: 200px 100px 200px 100px;
}

.mySpace {
  margin: 0px 150px 0px 150px;
}

.big-font {
  font-size: 40px;
}

#weather {
  display:none;
}

a , a:focus , a:hover {
  text-decoration: none !important;
  color: #FFF;
}
